.bg-img {
  background: linear-gradient(
      rgba(250, 250, 250, 0.3),
      rgba(250, 250, 250, 0.6)
    ),
    url("../../../img/react_spongebob.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}

.bg-img2 {
  background: linear-gradient(
      rgba(250, 250, 250, 0.3),
      rgba(250, 250, 250, 0.6)
    ),
    url("../../../img/informatica-memes.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}

.text-white {
  color: black;
  font-size: 1.25em;
  text-align: center;
}

.disc {
  list-style-type: disc !important;
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: black;
}

.title-4 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.separator {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding: 10px;
  background-color: white;
}

.gallery img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 13px;
  background-color: black;
  color: gold;
  text-align: center;
}

.box-container {
  position: relative;
  border: 2px solid darkgoldenrod;
  width: 600px;
  height: 600px;
  padding: 10px;
  margin: 0 auto;
}

img:hover {
  border: 2px solid gold;
  cursor: pointer;
}

.img-container {
  position: absolute;
  display: flex;
}

.img-container:hover {
  position: absolute;
  z-index: 1000;
}

.first-img {
  border: 2px solid goldenrod;
}

.second-img {
  top: 100px;
  left: 100px;
  border: 2px solid darkorange;
}

.third-img {
  top: 200px;
  left: 200px;
  border: 2px solid yellow;
}

.fourth-img {
  top: 300px;
  left: 300px;
  border: 2px solid red;
}

.fifth-img {
  top: 400px;
  left: 400px;
  border: 2px solid blue;
}

/* Agrega estas reglas */
img:hover ~ .img-container:nth-of-type(n + 4) {
  display: none;
}

img:hover ~ .img-container {
  z-index: 1;
}

@media (max-width: 768px) {
  .gallery img {
    width: 100%;
    height: auto;
  }
}
h1 {
  font-weight: bold;
  text-decoration: underline;
}

p:first-letter {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  clear: right;
}

img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  float: right;
  border: 1.25px solid yellow;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  padding: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.paragraph-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  padding: 15px;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.border-black {
  border: 1px solid black;
}




h1 {
  font-weight: bold;
  text-decoration: underline;
}

p:first-letter {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  clear: right;
}

img {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  float: right;
  border: 1.25px solid yellow;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  padding: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.paragraph-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  padding: 15px;
}

.float-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.border-black {
  border: 1px solid black
}

.border-red {
  border: 1px solid red;
}
.container-bordes {
  width: 800px;
  margin: 50px auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
}

a[href$='.pdf']::before {
  content: '\f1c1';
  margin-right: 5px;
  font-weight: 400;
  font-family: 'Font Awesome 6 Free';
}

a[href$='.jpg']::before {
  content: '\f1c1';
  font-weight: 400;
  font-family: 'Font Awesome 6 Free';
  margin-right: 5px;
}

a[href$='.docx']::before {
  content: '\f0ea ';
  font-weight: 400;
  font-family: 'Font Awesome 6 Free';
  margin-right: 5px;
}

a[href$='.xlsx']::before {
  content: '\f1c3 ';
  font-weight: 400;
  font-family: 'Font Awesome 6 Free';
  margin-right: 5px;
}

a[href$='.txt']::before {
  content: '\f15c ';
  font-weight: 400;
  font-family: 'Font Awesome 6 Free';
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}