.bg-img {
  background: linear-gradient(
      rgba(250, 250, 250, 0.3),
      rgba(250, 250, 250, 0.6)
    ),
    url("../../../img/react_spongebob.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}

.bg-img2 {
  background: linear-gradient(
      rgba(250, 250, 250, 0.3),
      rgba(250, 250, 250, 0.6)
    ),
    url("../../../img/informatica-memes.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
}

.text-white {
  color: black;
  font-size: 1.25em;
  text-align: center;
}

.disc {
  list-style-type: disc !important;
}

.big {
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: black;
}

.title-4 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.separator {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding: 10px;
  background-color: white;
}

.gallery img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .gallery img {
    width: 100%;
    height: auto;
  }
}
